:root {
    --font-color-header: #dd3021;
    --font-color: #555;
    --font-color-light: #ccc;
    --back-color: #fff;
    --header-back-color: #fff;
    --a-link-color: #dd3021;
    --header-fore-color: #dd3021;
}

h1, h2, h3 {
    color: var(--font-color-header);
    margin-left: 0;
    margin-right: 0;
}

article.post time {
    color: var(--font-color-light)
}